# top-most EditorConfig file
root = true

# Baseline
[*]
charset = utf-8
end_of_line = crlf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 160

[*.md]
max_line_length = 0

[*.{yml,json}]
indent_size = 2

# Xml files (data, config, projects)
[*.{xml,props,targets,config,csproj}]
indent_size = 2

# Shell scripts
[*.sh]
end_of_line = lf

# C#
[*.cs]
dotnet_sort_system_directives_first = true
